.codat-loan-application-in-progress52-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.codat-loan-application-in-progress52-navlink {
  display: contents;
}
.codat-loan-application-in-progress52-pasted-image {
  top: 0px;
  left: 271px;
  width: 880px;
  height: 989px;
  position: absolute;
  text-decoration: none;
}
