.codat-login-to-xero4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.codat-login-to-xero4-pasted-image {
  top: 54px;
  left: 0px;
  right: 0px;
  width: 238px;
  height: 221px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-text {
  top: 298px;
  left: 791px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-text1 {
  font-size: 25px;
}
.codat-login-to-xero4-text3 {
  top: 440px;
  left: 374px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-text4 {
  font-size: 25px;
}
.codat-login-to-xero4-text6 {
  top: 370px;
  left: 371px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-text7 {
  font-size: 25px;
}
.codat-login-to-xero4-textinput {
  top: 366px;
  left: 0px;
  right: 0px;
  width: 318px;
  height: 42px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-textinput1 {
  top: 366px;
  left: 0px;
  right: 0px;
  width: 318px;
  height: 42px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-textinput2 {
  top: 434px;
  left: 0px;
  right: 0px;
  width: 318px;
  height: 42px;
  margin: auto;
  position: absolute;
}
.codat-login-to-xero4-navlink {
  top: 516px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 330px;
  height: 46px;
  margin: auto;
  position: absolute;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  padding-right: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
