.codat-connect2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  text-align: left;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.codat-connect2-pasted-image {
  top: 47px;
  left: 0px;
  right: 0px;
  width: 692px;
  height: 143px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.codat-connect2-navlink {
  top: 756px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 168px;
  height: 46px;
  margin: auto;
  position: absolute;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  padding-right: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
.codat-connect2-text {
  top: 211px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.codat-connect2-text1 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.codat-connect2-text2 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.codat-connect2-text3 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.codat-connect2-text4 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.codat-connect2-pasted-image1 {
  color: var(--dl-color-gray-black);
  width: 679px;
  height: 425px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
